<!DOCTYPE html>
<html lang="en">

<head>
    <title>Error Page</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Oops! Technical difficulties!</h1>

    <h3>The page you were looking for cannot be found</h3>

    <strong>Possible Causes</strong>
    <ul>
        <li>The address may be incorrect</li>
        <li>It may be a broken or outdated link</li>
    </ul><br>

    <a href="/" id="homeerror" class="button">Return to Home</a>
</body>
</html>