<!DOCTYPE html>
<html lang="en">

<head>
	<title>Final App</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Shopperific</h1>

    <p>Click <a href="/shopping">here</a> to make a shopping list with us today!</p>
    <p>Click <a href="/lookup">here</a> to look up a past shopping list you (or friend!) have made with us previously!</p><br>

    <hr>
    <footer>
        &copy; 2025 Shopperific. All rights reserved.<br>
        Shopperific | <a href="/bahaha">Privacy Policy</a> | <a href="/bahaha">Terms of Service</a> | <a href="/bahaha">Contact Us</a>
    </footer>
</body>

</html>