<!DOCTYPE html>
<html lang="en">

<head>
	<title>Final App</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=BioRhyme:wght@200..800&family=Cutive&family=Handlee&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Myeongjo&family=Sniglet:wght@400;800&display=swap" rel="stylesheet">
</head>

<body id="index_body">
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/shopping">Groceries</a>
        <a href="/lookup">Look Up</a>
        <a href="/bahaha">About</a>
    </div>

    <div id="div-shopperific"></div>

    <div id="index_div">
    <div id="index_info">
        <h1>Welcome to Shopperific — The Smarter Way to Plan Your Groceries</h1><br>
        
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. 
            In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla 
            lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel 
            class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
        </p><br>
        
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. 
            In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla 
            lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel 
            class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
        </p><br>
        
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. 
            In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla 
            lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel 
            class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
        </p><br>

        <hr>
        <footer>
            &copy; 2025 Shopperific. All rights reserved.<br>
            Shopperific | <a href="/bahaha">Privacy Policy</a> | <a href="/bahaha">Terms of Service</a> | <a href="/bahaha">Contact Us</a>
        </footer>
    </div>
    </div>
</body>

</html>