<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Lookup Result Page</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
	<h1><%- name %></h1><br><br>
	<div>
		<%- table %>
	</div>
</body>

</html>