<!DOCTYPE html>
<html lang="en">

<head>
	<title>Result Page</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=BioRhyme:wght@200..800&family=Cutive&family=Handlee&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Myeongjo&family=Sniglet:wght@400;800&display=swap" rel="stylesheet">

</head>

<body id="formbody">
	<div class="topnav" id="formnav">
        <a href="/">Home</a>
        <a class="active" href="/shopping">Groceries</a>
        <a href="/lookup">Look Up</a>
        <a href="/bahaha">About</a>
    </div>

	<div id="maindiv">
    <div id="res_div">
		<h1>Shopping List</h1><br><br>
		<div>
			<%- result %>
		</div><br>
		<a href="/save" class="button" id="savebutton">Save List</a>
	</div>
    </div>
</body>

</html>