<!DOCTYPE html>
<html lang="en">

<head>
    <title>Success Save Page</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Saved Successfully</h1>

    We have successfully saved your grocery list <%- name %>! Thank you so much for choosing Shopperific!

    <a href="/" class="button" id="homebutton">Return to Home</a><br>
    
</body>
</html>